body div.wrapper {
    display: table;
    margin: 0 auto;
}

div.wrapper div.input,
div.wrapper div.output {
    width: 1000px;
}
div.wrapper div.input textarea {
    min-height: 400px;
    width: 100%;
}
#do-magic p
{
    margin: 10 auto;
    padding: 2px;
    text-align: center;
    border-style: solid;
    cursor: pointer;
}
div.wrapper div.output div.formatted {
    height: 400px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    overflow-y: scroll;
    padding: 2px 3px;
}
span.warning {
    background-color: yellow;
}
